body {  
  margin: 1em;
  padding: 1em;
}

h1,h2,h3 {
  text-align: center;
}

section#generator {
  display: block;
  width: 33%;
  border-style: solid;
  text-align: left;
  margin: 1em;
  padding: 1em;
  float: left;
}

input[type="number"] {
  width: 2.5em;
}

section#about {
  margin: 1em;
  padding: 1em;
}

section#password { 
  display: block;
  margin: 1em;
  padding: 1em;
  border-style: solid;
  float: left;
  clear: left;
  width: 100%;
}

section#cartoon {
  display: block;
  clear: left;
  text-align: center;
  border-style: solid;
  padding: 1em;
  margin: 1em;
  width: 100%;
}

img { 

}





