body {  
  margin: 1em;
  padding: 1em;
}

h1,h2,h3 {
  text-align: center;
}

section#generator {
  display: block;
  width: 33%;
  border-style: solid;
  text-align: center;
  padding: 1em;
  margin: 1em;
  margin-top: 0;
  float: left;
}

fieldset { 
  text-align: left;
}

input[type="number"] {
  width: 2.5em;
}

input[type="submit"] { 
  margin-top: 1em;
}

section#password { 
  display: block;
  margin: 1em;
  border-style: solid;
  float: left;
  clear: left;
  width: 100%;
}

section#cartoon {
  display: block;
  margin: 1em;
  clear: left;
  border-style: solid;
  text-align: center;
  width: 100%;
}

img { 
  width: 90%;
}





